/*ブラウザがそれぞれ持っているCSSをリセットする*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	width: auto;
	height: 70px;
	background-color: #EC715F;
}

.header-item {
	width: 1024px;
	margin: auto;
}

.header-image {
	float:left;
	height: 70px;
}

.nav-list {
	float: right;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
	width: auto;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	text-align:center;
}

.main-visual-content {
	width: auto;
	margin: 0 ;
	padding-top: 200px;
}

#main-visual-top {font-size: 64px;
	color: #FAFAFA;
	padding-bottom: 10px;
}
#main-visual-bottom {font-size: 20px;
	color: #FAFAFA}





main {
	width: auto;
}

.main-Portfolio {
	width: auto;
	background-color: #ECEFF1;
	overflow: hidden;
	text-align:center;
}

.main-Portfolio-content {
	width: 920px;
	background-color: #ECEFF1;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 90px;
}
#main-Portfolio-top {
 	font-size: 32px;
 	color: #000000;
 	padding-bottom: 8px;
}

.make_border_1{
  width:70px;
  height:3px;
  background:#EC715F;
  margin:auto;
}

#main-Portfolio-bottom {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}

.main-Portfolio-content-image {
	width: 920px;
	background-color: #ECEFF1;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 90px;
}

.Portfolio-image {
  float: left;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  }

.Portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin: 0 0 10px 0;
  }
.Portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 10px;
  }
.Portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
  margin: 0 0 10px 0;
  }
.Portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  }
.Portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
  }
.Portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  }


.main-Feature {
	width: auto;
	overflow: hidden;
	text-align:center;
}

.main-Feature-content {
	width: 920px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 90px
}

#main-Feature-top {
 	font-size: 32px;
 	color: #000000;
 	padding-bottom: 8px;
}

.make_border_2{
  width:70px;
  height:3px;
  background:#EC715F;
  margin:auto;
}

#main-Feature-middle {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}

.main-Feature-content-bottom {
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 90px;
}

.main-Feature-content-bottom-text-t {
	font-size: 20px;
	color: #000000;
	margin: 10px 0;
}

.sosial i {
	margin:0 auto;
}

.fa-size {
	font-size: 60px;
}

.main-Feature-content-bottom-text-b {
	font-size: 16px;
	color: #000000;
}



.main-Feature-content-bottom-a {
	float: left;
 	width: 320px;
}

.main-Feature-content-bottom-b {
	float: left;
 	width: 320px;
 	margin: 0 10px;
}

.main-Feature-content-bottom-c {
	float: left;
	width: 320px;
}




.main-Profile {
	width: auto;
	height: 250px;
	background-color: #ECEFF1;
	overflow: hidden;
}

.main-Profile-content {
	width: auto;
	height: 70px;
	background-color: pink;
	margin: 90px 0;
}

.main-Contact {
	width: auto;
	height: 250px;
	overflow: hidden;
}

.main-Contact-content {
	width: auto;
	height: 70px;
	background-color: pink;
	margin: 90px 0;
}


footer {
	text-align: center;
	width: auto;
	height: 60px;
	background-color: #EC715F;
}

.footer-text {
	color: #FAFAFA;

	font-size:16px;
	padding-top: 22px;
}

